/* twinkle twinkle lil stars */

.stars:before {
  content: "★★★★★";
  background: linear-gradient(90deg, green var(--percents), pink var(--percents));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.stars {
  --percents: calc(var(--rating) / 5 * 100%);
  display: inline-block;
  font-size: .80em;
  font-family: Times;
  line-height: 1;
}

/* stupid carousel classes */

.carousel {
  overflow: hidden;
}

.inner {
  white-space: nowrap;
  transition: transform 0.3s;
}

.carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  background-color: white;
  color: gray;
}

.indicators {
  display: flex;
  justify-content: center;
}

.indeicators > button {
  margin: 5px;
}