/* twinkle twinkle lil stars */
body {
  background-color: antiquewhite;
}

.stars:before {
  content: "★★★★★";
  background: linear-gradient(90deg, green var(--percents), lightgrey var(--percents));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.stars {
  --percents: calc(var(--rating) / 5 * 100%);
  display: inline-block;
  font-size: .80em;
  font-family: Times;
  line-height: 1;
}

/* twinkle twinkle lil bars */

.bars:before {
  content: "★★★★★★★★★★★★★★";
  background: linear-gradient(90deg, green var(--percents), lightgrey var(--percents));
  /* background-clip: padding-box; */
  -webkit-background-clip: padding-box;
  -webkit-text-fill-color: transparent;
  border-radius: 10px 15px 15px 10px;
}

.bars {
  --percents: calc(var(--rating) * 100%);
  display: inline-block;
  font-size: .8em;
  font-family: Times;
  line-height: 2;
  margin: 0 .5em;
}

/* stupid carousel classes */

/* .carousel {
  overflow: hidden;
}

.inner {
  white-space: nowrap;
  transition: transform 0.3s;
} */
/*
.carousel-item {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 275px;
  background-color: white;
  color: gray;
  background-color: rgba(223, 207, 190,.8);
  position: relative;
} */

/* .indicators {
  display: flex;
  justify-content: center;
} */
/*
.indicators > button {
  margin: 5px;
} */

/* card classes */
/*
.thumbnail {
  object-fit: contain;
  max-width: 100%;
  max-height: 70%;
}

.action-btn {
  position: absolute;
  top: 12%;
  right: 20%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 10px;
  padding: 8px 8px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}


/* new review modal */
